{% extends 'layout_FrontEnd.html.twig' %}

{% block Content %}
    <h1>Boutique creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('boutique_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
