<div class="list-group list-group-flush">
    <a href="" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-shopping-bag"></i> Commandes</a>
    <a href="#" class="list-group-item list-group-item-action "><i class="fa fa-fw fa-user"></i> Profile</a>

    <!--
    <a href="account-wishlist.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-heart"></i> Wishlist<span class="badge badge-theme badge-pill pull-right mt-1">3</span></a>-->
    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-key"></i> Changer Mot de passe</a>
    <a href="#" class="list-group-item list-group-item-action d-none d-md-block"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
</div>