{% extends '::layout_FrontEnd.html.twig' %}
{% block Content %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				
				<div class="title"><span>	Conditions générales de vente</span></div>
			</div>
		</div>
	

	<b>Sauf convention expresse contraire par écrit, toutes ventes sont soumises aux termes et conditions suivants :</b>
     <br>
		<i><b><h5>1. GÉNÉRALITÉS</h5></b></i><br>
	Souk EL Madina (le "vendeur") fait par les présentes une offre de vente à l'acheteur désigné au recto des présentes (l' « Acheteur ») pour les produits indiqués au recto des présentes (les « Produits ») sous la condition expresse que l'Acheteur accepte et se soumette aux termes et conditions de vente figurant dans les présentes.<br>
		Toute disposition
	contenue dans tout document provenant de l'Acheteur est expressément rejetée et le présent document sera considéré comme une contre-offre et n'emportera pas acceptation du document de l'Acheteur. Les prix des Produits excluent la TVA et autres taxes ou droits relatifs à la vente, la livraison ou l'utilisation de tous Produits. Si l'Acheteur invoque une quelconque exonération, l'Acheteur doit fournir un certificat ou une lettre d'exonération valide et signé.
		<br><i><b><h5>4. CONDITIONS DE PAIEMENT</h5></b></i><br>
	
	Le Vendeur peut facturer l'Acheteur pour le prix et tous autres frais à la charge de l'Acheteur au moment de l'expédition, sauf convention contraire, le paiement sera exigible à trente (30) jours à compter de la date de facturation. En cas de défaut de paiement par l'Acheteur à échéance, l'Acheteur devra payer au Vendeur des intérêts à un taux de un pour cent et demi (1,5%) par mois (ou le taux le plus élevé permis par la législation s'il est moindre). Tous les règlements seront effectués dans la devise locale du Vendeur. Le paiement par carte de crédit sera soumis à l'accord du Vendeur.
		<br><i><b><h5>5. LIVRAISON, ANNULATION OU MODIFICATIONS PAR L'ACHETEUR</h5></b></i><br>
	
	Sauf convention contraire, les produits seront livrés à l'adresse fournie par l'Acheteur à partir des locaux du Vendeur. Le Vendeur aura le droit, selon son choix, de faire des expéditions partielles de Produits et de facturer chaque expédition séparément. Toutes les dates de livraison ne sont qu'approximatives, et le Vendeur ne sera pas tenu responsable de quelque perte ou dommage résultant d'un retard ou défaut quelconque de livraison pour des raisons qui seraient en dehors du contrôle raisonnable du Vendeur. Les commandes ne peuvent être  modifiées ou annulées qu'avec l'accord écrit du Vendeur et avec paiement des frais d'annulation du Vendeur (forfait de 15% du prix initial), s'ils sont applicables. Les Produits ne pourront être retournés qu'avec l'accord préalable écrit du Vendeur.
		<br><i><b><h5>6. RESERVE DE PROPRIETE</h5></b></i><br>
	
	Le transfert de propriété des Produits est suspendu jusqu'au complet paiement de leur prix par l'Acheteur, en principal et accessoires, même en cas d'octroi de délais de paiement. De convention expresse, le Vendeur pourra faire jouer les droits qu'il détient en vertu de la présente clause de réserve de propriété, pour l'une quelconque de ses créances, sur la totalité des Produits en possession de l'Acheteur, lesdits Produits étant conventionnellement présumés être ceux impayés, et le Vendeur pourra les reprendre ou les revendiquer en dédommagement de toutes ses factures impayées, sans préjudice de son droit de résolution des ventes en cours. L'Acheteur s'interdit de donner les Produits en gage et d'en transférer la propriété à titre de garantie. En cas de revente des Produits, l'Acheteur s'engage à régler immédiatement au Vendeur toute partie du prix d'achat restant due. La présente clause n'empêche pas que les risques de perte des Produits soient transférés à l'Acheteur dès leur livraison. Il est entendu que la propriété de tout logiciel incorporé dans les Produits ou en faisant partie sera toujours conservée par le Vendeur ou son (ses) fournisseur(s) de licence, selon le cas.
		<br><i><b><h5>7. GARANTIE</h5></b></i><br>
	
	Le Vendeur garantit les Produits pour un fonctionnement ou une performance substantiellement conforme aux spécifications publiées du Vendeur et garantit qu'ils seront sans défaut de matériaux ou de fabrication lorsqu'ils seront soumis à une utilisation normale, correcte et conforme à l'usage auquel ils sont destinés, par un personnel correctement formé, et ce pour la période de temps indiquée dans la documentation du produit, les spécifications publiées ou les inserts d'emballage. Si aucune période n'est spécifiée, la période de garantie sera d'un (1) an à partir de la date d'expédition à l'Acheteur pour les équipements, et de quatre-vingt-dix (90) jours pour tout autre Produit nonconsommable (la « Période de Garantie »). Pendant la Période de Garantie, le Vendeur s'engage à réparer ou remplacer, au choix du Vendeur, les Produits défectueux, ceci sous réserve que :
	– l'Acheteur avise le Vendeur promptement et par écrit de la découverte de quelque défaut que ce soit, lequel avis devra inclure le modèle et numéro de série du produit (selon le cas) et le détail de la réclamation de garantie ; et que
	– accident, catastrophe ou événement de force majeure,<br>
			- Les recours selon la présente garantie seront le seul recours de l'Acheteur en cas de Produit défectueux. Le Vendeur décline (dans la mesure permise par la loi) toute autre garantie, qu'elle soit expresse ou implicite, orale ou écrite, concernant les Produits, y compris sans limitation, toutes garanties implicites de qualité marchande ou d'aptitude à tout usage particulier.
		<br><i><b><h5>8. INDEMNISATION</h5></b></i><br>
	
	<i>Par le Vendeur<i></i><br>
	Le Vendeur s'engage à indemniser, défendre et sauvegarder l'Acheteur, sa direction, ses directeurs et employés de et contre tous dommages, responsabilités, actions, causes d'action, poursuites, réclamations, demandes, pertes, coûts et dépenses (y compris honoraires d'avocat raisonnables) (« Eléments Indemnisés ») pour :<br>
	1. blessure ou décès de personnes ou dommages aux biens dans la mesure où ils sont causés par la négligence ou la faute intentionnelle du Vendeur, de ses employés, agents, ou représentants ou prestataires dans le cadre de prestations de services sur le site du Vendeur en vertu de la présente Convention et pour
	2. des réclamations selon lesquelles un Produit enfreindrait tout droit de propriété intellectuelle valable de tiers ; étant toutefois entendu que le Vendeur n'aura aucune responsabilité sous la présente Section dans la mesure où lesdits Eléments Indemnisés seront causés par soit :<br>
	– la négligence ou faute intentionnelle de l'Acheteur, de ses employés, agents, représentants ou prestataires,<br>
	– tout tiers,<br>
	
		<i>Par l'Acheteur</i><br>
	L'Acheteur devra indemniser, défendre avec des avocats compétents et expérimentés, et dégager de toute responsabilitéle Vendeur, sa sociétémère, ses filiales, affiliés et divisions, ainsi que leurs directions, directeurs, associés et employés respectifs, de et contre tous dommages, responsabilités, actions, causes d'action, poursuites, réclamations, demandes, pertes, coûts et dépenses (y compris, sans limitation, honoraires et frais d'avocat raisonnables et frais judiciaires) dans la mesure résultant de ou relative à :<br>
	– la négligence ou faute intentionnelle de l'Acheteur, de ses agents, employés, représentants ou prestataires ;<br>
	– l'entreposage ou la manutention impropres des Produits ou l'utilisation par un personnel non qualifié ;<br>
	
	
		<br><i><b><h5>9. DIVERS</h5></b></i><br>
		L'Acheteur ne peut pas céder ses droits ou réclamations en vertu des présentes sans l'autorisation préalable écrite du Vendeur.<br>
	Les droits et responsabilités des parties en vertu des présentes seront régis et interprétés conformément à la législation de l'Etat dans lequel le Vendeur est immatriculé et les parties attribuent irrévocablement compétence exclusive aux tribunaux du siège social du Vendeur.
	Toute action découlant de la présente Convention doit être introduite dans un délai d'un (1) an à compter de la date à laquelle la cause de ladite action est survenue.
	<br>– maintenir la confidentialité de ladite information et ne pas révéler ladite information à un quelconque tiers, et
		<br>– se servir de ladite information uniquement pour les besoins internes de l'Acheteur et relativement aux Produits fournis en vertu des présentes. Toute notification ou communication exigée ou permise en vertu des présentes devra être par écrit et sera considérée comme étant reçue si elle est remise en personne ou trois (3) joursouvrables après envoi par courrier recommandé en port payé à une partie, à l'adresse spécifiée dans les présentes ou à toute autre adresse indiquée périodiquement par une partie à l'autre partie.
		<br><i><b><h5>LIEU DE JURIDICTION : Tunis</h5></b></i><br>
	 
	<b>Nos traites et acceptation de règlement, ainsi que toutes dispositions spéciales prises de gré à gré n'optèrent ni motivation, ni dérogation à cette clause attributive de juridiction.
	</b>
	<br>
	<br>
	<b><center><a href="{{ path('principal') }}">
		Précédent
	</a> </center> </b>
{% endblock %}