

<h4> <b>Service Souk El Madina aprés vente</b></h4>
<hr width="40%">
<br>
<b></b>
 <i> Mr /Mme ;</i>
	<p>Votre réclamation a été envoyer avec succees et vous serez contacté prochainement </p>
	<p>
	<ul>
	Merci pour votre compréhension.
	</ul>
<b>Cordialement</b>
	</p>

